*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    height: 100%;
    width: 100%;

}
h2{
    margin: 20px;
    text-align: center;
    color: red;
}
.container{
    width: 90%;
    height: 90vh;
    border: 1px solid blue;
    margin: 5px auto;
}
div{
    height: 150px;
    width: 30%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}
.a{
    background-image: url(bhull.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.b{
    background-image: url(imagees.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}
.c{
    background-image: url(images.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.d{
    background-image: url(imagess.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.e{
    background-image: url(note.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.f{
    background-image: url(musicbrain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.g{
    background-image: url(unnamed.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.h{
    background-image: url(overtones.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.i{
    background-image: url(unnamed.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}